# ----------
# Scheduled jobs for lecture capture system
# ----------
#M H D M W Command

# Start the system at reboot
@reboot /home/capture/Camera/start

# Upload any completed videos
#*/10 *  *  *  * /home/capture/Camera/upload

# Restart weekly
15 03 *  * 00 /home/capture/Camera/stop
20 03 *  * 00 /home/capture/Camera/start
 
